@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    margin: 0.5rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    /* background-image: url('https://drop.ndtv.com/albums/COOKS/kids-food-art/capture.005.jpg'); */
    /* background-repeat: repeat-x;  repeats the background image in the particular direction only*/
    /* background-repeat: no-repeat;
    background-position: top right; */
    /* background-attachment: fixed;  it will fix position of our background image the image will not move with the scroll bar*/
 }
 nav{
    /* outline-width: 10px;
    outline-style: dashed;
    outline-color: #333; */
    background-image: url('https://drop.ndtv.com/albums/COOKS/kids-food-art/capture.005.jpg');
    outline: 10px dashed #333 ;
    border: 2px solid black;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}
h2{
    border-radius: 2rem 2rem 0rem 0rem;
    background-color: gold;
    padding:auto;
}
ul
{
    list-style-type: none;
}
li
{
    list-style-type: none;
    border-top: 2px solid  black;
}
li a{
display: block;
}
li a,li a:visited{
    text-decoration: none;
    color: #333;
}
li a:hover,li a:focus
{
    background-color: lightcoral;
    color: whitesmoke;
    cursor: pointer;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}

